* {/*formatando todo mundo, nesse caso resetando as medidas pra deixar zerado */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#jogo{
    border: 1px solid red;
    height: 230px;
    width: 230px;
    position: relative;
    margin: 200px auto;
}
.box {
    /*border: 1px solid blue;*/
    /*display: inline-flex;*/
    height: 50px;
    width: 50px;

}

ul{
    height: 160px;
    width: 160px;
    border: 1px solid lime;
    margin: 35px;
    padding: 0;
    
}

li{
    border: 1px solid purple;
    display: inline-block;
    margin: 0;   
    left: 0;
}
